[user]
  	email = b.maraszek@gmail.com
  	name = Bartek Maraszek
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    #lg = log --pretty=oneline --graph -n 10
    #lg = log --graph --decorate --pretty=oneline --abbrev-commit -n 50
    #lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lg = log --graph --decorate --pretty=oneline --abbrev-commit 
[core]
    autocrlf = false
    pager = less -x4
    #autocrlf = true

